@model IEnumerable<Gebraucht_und_Gut.Models.Rechnung>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kunde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verkaeufer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kunde.KundeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verkaeufer.VerkaeuferId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
