@model WebApplication1.Models.Kunde

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kunde</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stammkd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stammkd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hausnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hausnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KundeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
